<style>
body {
  background-color: #f1f1f1;
  margin-top: 70px
}
</style>
<body>
<h3>Want to add your own recipe to the database? Be our guest!</h3>

<form action="/drinks" method="POST">
    <label for="drink_name">What's your drink called?</label>
        <input type="text" name="drink[name]" id="drink_name"><br>
    <label for="drink_type">What kind of drink is it?</label>
        <input type="text" name="drink[type]" id="drink_type"><br>
    <label for="drink_type">What kind of glassware do you need for it?</label>
        <input type="text" name="drink[glass]" id="drink_glass"><br>
    <label for="drink_ingredient_1">What is the first ingredient?</label>
        <input class="form-ing-1" type="text" name="search" id="drink_ing_1" placeholder="Type to search..." hx-post="/search" hx-trigger="keyup changed delay:500ms" hx-target="#results" hx-indicator=".htmx-indicator"><br>
    <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Subcategory</th>
        </tr>
        </thead>
        <tbody id="results">
        <tr>
        <% if @products %>
        <% @products.each do |product| %>
            <td><%= product.name %></td>
            <td><%= product.category %></td>
            <td><%= product.subcategory %></td>
        </tr>
        <% end %>
        <% end %>

        </tbody>
    </table>
</form>
</body>
