<style>
body {
  background-color: #f1f1f1;
  margin-top: 70px;
}
</style>
<h3>Sign Up</h3>
<form action="/users" method="POST">
    <input type="text" name="username" placeholder="Username:"> 
	<input type="password" name="password" placeholder="Password:">
	<input type="submit" value="Sign Up">
</form>