<style>
body {
  background-color: #f1f1f1;
  margin-top: 70px;
}
</style>
Welcome to Your Homepage
<br>
<a href="/products">Manage My Inventory</a><br>
<a href="/drinks">Get Drink Information</a><br>
<a href="/menus">See Possible Drinks</a>