<style>
a {
  color: blue;
  text-decoration: none;
}
</style>

<h3>Products Home</h3>
<% unless empty_inventory %>
<p>Here is your current inventory. Click on the name to get more information!</p>
<% @user_products.each do |product| %>
    <li><a href="/products/<%= product.slug %>"><%= product.name %></a></li>
    <% end %>
<% else %>
    <p>A bar without booze? <a href="/products/new">Go stock up!</a></p>
<% end %>

<% unless empty_inventory %>
<p>To see what you can make with these items, click here! <a href="/drinks/generate" class="btn btn-secondary">Generate Drinks</a></p><br>
<% end %>
<a href="/products/new">Add Something To My Bar Inventory</a><br>
<% unless empty_inventory %>
<a href="/products/edit">Edit My Bar Inventory</a><br>
<% end %>
