What would you like to do today?, <%= current_user.username %>
<br>
<a href="/products/new">Add Something To My Bar Inventory</a><br>
<a href="/products/edit">Edit My Bar Inventory</a><br>
<a href="/products/delete">Remove Something From My Bar Inventory</a><br>
<a href="/drinks/index">See My Drink Options</a><br>
<a href="/drinks/search">Search for a Specific Drink</a><br>
