<style>
body {
    background-color: #f1f1f1;
    margin-top: 70px
  }
</style>

Welcome, <%= current_user.username %> <br>
Here is your current inventory. Click on the name to get more information!
<% @user_products.each do |product| %>
    <li><a href="/products/<%= product.slug %>"><%= product.name %></a></li>
<% end %>

To see what you can make with these items, click <a href="/drinks/generate">here!</a><br>
<a href="/products/new">Add Something To My Bar Inventory</a><br>
<a href="/products/edit">Edit My Bar Inventory</a><br>
<a href="/drinks">See My Drink Options</a><br>
<a href="/drinks/search">Search for a Specific Drink</a><br>

<%= @random_product.name %>
