<h2>Lets Stock Up!</h2>

<input class="form-control" type="text" name="search" placeholder="Type to search..." hx-post="/search" hx-trigger="keyup changed delay:500ms" hx-target="#results" hx-vals='{"origin": "new"}'><br>
<%= partial(:result) %>




