<h2>Let's Stock Up!</h2>
<p>What type of Product is it?</p>

<form action="/products" method="POST">
        <div>
        <label for="liquor">Liquor</label>
        <input type="radio" id="liquor" name="liquor" value="products[type: liquor]">
        </div>
        <div>
        <label for="wine">Wine</label>
        <input type="radio" id="wine" name="wine" value="products[type: wine]">
        <div>
        </div>
        <label for="beer">Beer</label>
        <input type="radio" id="beer" name="beer" value="products[type: beer]">
        </div>
        <label for="mixer">Mixer</label>
        <input type="radio" id="mixer" name="mixer" value="products[type: mixer]">
        </div>
        </form>
</body>