<h2>Let's Stock Up!</h2>
<p>What type of Product is it?</p>

<form action="/liquors">
<input type="hidden" name="params[:liquors][:category]" value="liquors">
        <div>
        <label for="liquor_select">Liquor Type</label>
        <select name="liquors[category]" id="category-select">
                <option value="">Please select a type of liquor</option>
                <% @liquors.each do |dbproduct| %>
                        <option value="<%= dbproduct.category %>" name="type"><%= dbproduct.category %></option>
                <% end %>           
        </select>
        <input type="submit" value="submit">
        
        </form>
</body>