<h3>Search for Products</h3><br>

<input class="form-control" type="text" name="search" placeholder="Type to search..." hx-post="/search" hx-trigger="keyup changed delay:500ms" hx-target="#results"><br>
<%= partial(:result) %>
