<h3><%= @product.name %></h3>
<%= @product.category %><br>
<% if @product.description %>
    <h4>Description:</h4>
    <%= @product.description %></li>
<% else %>
    <p>No description has been written for <%= @product.name %>. Would you like to write one?
<% end %>

