<style>
body {
  background-color: #f1f1f1;
  margin-top: 70px;
}
</style>
<div id="form2" hx-swap="outerHTML">
    <label>Subcategories</label>
        <select name="subcategory" hx-get="/names">
        <option>--Please Pick One--</option>
        <% @products.each do |product| %> 
            <option value="<%= product.subcategory %>"><%= product.subcategory %></option>
        <% end %>
        </select>
</div>