<style>
body {
  background-color: #f1f1f1;
  margin-top: 70px;
}
</style>
You have successfully added <%= @last_product %> 
Surely you have more than that!
<a href="/products/new"> Add something else! </a>