<style>
body {
  background-color: #f1f1f1;
  margin-top: 70px;
}
</style>
<body>

        <% if @products.present? %>
        <select id="form2" class="selectpicker show-tick" title="What kind of <%= @product.first.category %> is it?" data-width="40%" name="category" hx-get="/names" hx-trigger="changed" hx-target="#form3">
            <% @products.each do |product| %> 
                <option value="<%= product.subcategory %>"><%= product.subcategory %></option>
            <% end %>
            <% end %>
        </select>

</body>